body {
  text-align: center;
}

header {
  width: auto;
  height: 25px;
  text-align: left;
  padding: 10px;
  font-family: monospace;
  font-weight: bold;
  font-size: larger;
}

#add-task {
  text-align: center;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  border: none;
  background-color: rgba(211, 211, 211, 0.336);
  cursor: pointer;
}

.task-dropbox {
  height: 25px;
  width: 230px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: x-small;
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  text-align: left;
  margin-top: 10px;
}

.task-container {
  margin: auto;
  background-color: rgb(240, 238, 238);
  width: 250px;
  height: 250px;
  border-radius: 7px;
  text-align: center;
  display: block;
  float: left;
  margin-left: 25px;
  position: relative;
  padding-bottom: 10px;
  text-align: center;
}

#taskbox-container {
  text-align: center;
}

.drop-zone--over {
  opacity: 0.5;
}
